img {
  position: absolute;
}

.background {
  left: 0;
  top: 0;
}

.chou {
  width: 7%;
  height: auto;
  transition: 0.3s
}

#foo {
  width: 3%;
  height: auto;
  left: 500px;
  top: 300px;
  transition: all 0.3s
  pointer-events: none;
}

#bg0 {

}

#bt0 {
  left: 350px;
  top: 350px;
}

#bt1 {
  left: 150px;
  top: 400px;
}

#bt2 {
  left: 590px;
  top: 430px;
}

#message {
  position: absolute;
  padding: 20px 15px;
  background-color:
  rgba(255, 255, 255, 0.5);
  color: rgba(204, 0, 106);
  font-size: 22px;
  font-weight: bold;
  left: 20px;
  top: 35px;
  pointer-events: none;
}
